TaxDataStore/Service References/UpdaterService/ApplicationUpdater.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ApplicationUpdater" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ApplicationUpdater" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ApplicationUpdater/Imports">
      <xsd:import namespace="ApplicationUpdater" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdaterIpcService_CheckForUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForUpdates" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_CheckForUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_DownloadUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadUpdates" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_DownloadUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_ApplyUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyUpdates" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_ApplyUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_UpdateExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExists" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_UpdateExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_IsDownloadComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:IsDownloadComplete" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_IsDownloadComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsDownloadCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_ReloadSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadSettings" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_ReloadSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_GetLastCheckTimestamp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCheckTimestamp" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_GetLastCheckTimestamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCheckTimestampResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_GetNewVersionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewVersionDetails" />
  </wsdl:message>
  <wsdl:message name="IUpdaterIpcService_GetNewVersionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewVersionDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdaterIpcService">
    <wsdl:operation name="CheckForUpdates">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/CheckForUpdates" message="tns:IUpdaterIpcService_CheckForUpdates_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/CheckForUpdatesResponse" message="tns:IUpdaterIpcService_CheckForUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadUpdates">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/DownloadUpdates" message="tns:IUpdaterIpcService_DownloadUpdates_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/DownloadUpdatesResponse" message="tns:IUpdaterIpcService_DownloadUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyUpdates">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/ApplyUpdates" message="tns:IUpdaterIpcService_ApplyUpdates_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/ApplyUpdatesResponse" message="tns:IUpdaterIpcService_ApplyUpdates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExists">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/UpdateExists" message="tns:IUpdaterIpcService_UpdateExists_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/UpdateExistsResponse" message="tns:IUpdaterIpcService_UpdateExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsDownloadComplete">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/IsDownloadComplete" message="tns:IUpdaterIpcService_IsDownloadComplete_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/IsDownloadCompleteResponse" message="tns:IUpdaterIpcService_IsDownloadComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/GetStatus" message="tns:IUpdaterIpcService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/GetStatusResponse" message="tns:IUpdaterIpcService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadSettings">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/ReloadSettings" message="tns:IUpdaterIpcService_ReloadSettings_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/ReloadSettingsResponse" message="tns:IUpdaterIpcService_ReloadSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastCheckTimestamp">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/GetLastCheckTimestamp" message="tns:IUpdaterIpcService_GetLastCheckTimestamp_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/GetLastCheckTimestampResponse" message="tns:IUpdaterIpcService_GetLastCheckTimestamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewVersionDetails">
      <wsdl:input wsaw:Action="ApplicationUpdater/IUpdaterIpcService/GetNewVersionDetails" message="tns:IUpdaterIpcService_GetNewVersionDetails_InputMessage" />
      <wsdl:output wsaw:Action="ApplicationUpdater/IUpdaterIpcService/GetNewVersionDetailsResponse" message="tns:IUpdaterIpcService_GetNewVersionDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>